.logo_place_header {
  width: 183px;
  height: 32px;
  left: 64px;
  top: 30px;
  position: absolute;
  background-image: url('../../../images/logo_place_header.svg');
}

.logo_place_header:hover {
  opacity: 0.7;
  transition: opacity 0.1s ease;
}
