.resources__logo {
  list-style-type: none;
  width: 270px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.resources__logo:hover {
  opacity: 0.7;
  transition: opacity 0.1s ease;
}
